{$DOMAIN} {
    # Прокси на фронтенд
    reverse_proxy frontend:80

    # Используем handle, чтобы НЕ отрезать /api из URL
    handle /api/* {
        reverse_proxy backend:8080
    }

    handle_path /jobs/* {
        reverse_proxy asynqmon:8080
    }

    encode gzip

    log {
        output file /data/access.log
    }
}