# Убираем http:// и IP, ставим домен. 
# Caddy сам увидит домен и сам включит HTTPS на 443 порту.
138.124.108.4.nip.io {

    reverse_proxy frontend:80

    handle_path /api/* {
        reverse_proxy backend:8080
    }

    handle_path /jobs/* {
        reverse_proxy asynqmon:8080
    }

    encode gzip

    log {
        output file /data/access.log
    }
}