:root {
  --brand-pink: #ff6b81;
  --bg-color: #ffffff;
  --bg-surface: #f4f4f4; 
  --text-color: #1a1a1a;

  --accent-color: var(--brand-pink);
  --text-primary: var(--text-color);
  --text-secondary: #717171;
  --overlay-bg: rgba(255, 255, 255, 0.95);

  /* Новые переменные для адаптации FullPlayer */
  --player-mask: linear-gradient(to bottom, transparent, black 15%, black 85%, transparent);
  --bg-brightness: 0.8; /* Делаем фон светлее для светлой темы */
  --lyric-shadow: rgba(0, 0, 0, 0.08);; /* Темная тень для светлой темы */
  --progress-bg: rgba(26, 26, 26, 0.06);
}

[data-theme='dark'] {
  --bg-color: #121212;
  --bg-surface: #1c1c1e;
  --text-color: #f9fafb;
  
  --accent-color: #ff8798; 
  --text-primary: var(--text-color);
  --text-secondary: #a1a1a1;
  --overlay-bg: rgba(18, 18, 18, 0.98);

  /* Адаптация для темной темы */
  --bg-brightness: 0.25; /* Затемняем фон сильно */
  --lyric-shadow: rgba(255, 255, 255, 0.3); /* Белое свечение */
  --progress-bg: rgba(255, 255, 255, 0.1);
}

@keyframes download-fill {
  0% { background-position: 0% 100%; }   /* Пусто */
  100% { background-position: 0% 0%; }   /* Полно */
}

.animate-download {
  /* Нижняя часть (80%) — цвет контура (серый), верхняя часть (20%) — яркий акцент */
  background: linear-gradient(
    to bottom, 
    var(--accent-color) 0%, 
    var(--accent-color) 50%, 
    var(--text-secondary) 50%, 
    var(--text-secondary) 100%
  );
  background-size: 100% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  /* Важно: иконка должна быть прозрачной */
  color: transparent !important; 
  /* Добавляем свечение всей группе, а не иконке */
  filter: drop-shadow(0 0 3px var(--accent-color));
  
  animation: download-fill 1.5s infinite ease-in-out;
}

.no-scrollbar::-webkit-scrollbar { 
  display: none; 
}